{% extends 'base.html' %}
{% block content %}
<div class="card p-4 md-6 mx-auto">
    <h4 >
        <i class = "fa fa-edit"></i> Edit Student
    </h4>

    <form method ="POST">
        <input type ="text" value="{{student[1]}}" name="name" class="form-control mb-3" placeholder="Enter Name">
        <input type ="email" value="{{student[2]}}" name="email" class="form-control mb-3" placeholder="Enter Email">
        <input type ="text" value="{{student[3]}}" name="course" class="form-control mb-3" placeholder="Enter Course">
    
        <button class="btn btn-primary w-100">
        <i class="fa fa-Update"></i> Update Student
        </button>
    </form>
</div>
{% endblock %}    